.paginate {
  margin-top: 20px;

  li {
    display: inline-block;
    user-select: none;

      &.selected {
        a {
          background: #ec7532;
          color: #ffffff;
        }
      }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      font-weight: bold;
      border: 2px solid #ec7532;
      border-radius: 20px;
      margin-right: 10px;
      cursor: pointer;
      color: #ec7532;

      &:hover {
        background: #ec7532;
        color: #ffffff;
      }
    }
  }
}
