@import "../../../scss/variables";

.switcher {
  position: relative;
  user-select: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  transition: $transit;
  max-width: 250px;
  //box-shadow: 0 0 1px 1px rgba($dark, 1) inset; // контур

  span {
    border-radius: 30px;
    padding: 5px 0;
    cursor: pointer;
    transition: $transit;
    font-size: 13px;
    letter-spacing: 1.5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $orange;
    text-transform: uppercase;
  }

  .slider {
    position: absolute;
    background: $gradient;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    transition: $transit;
    font-size: 13px;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: white;
    }
  }
}
