@import "../variables";

.film {
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d8d8d8;
  gap: 30px;

  img {
    border-radius: 10px;
    height: auto;
    max-width: 300px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $lightorang;
    }

    h3 {
      border-bottom: none;
      padding: 0;
      font-size: 30px;
      margin-bottom: 30px;
      letter-spacing: 2px;
      color: #101010;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 12; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #717171
    }
  }

  &-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    p {
      margin: 0;
    }
  }

  &-button {
    font-size: 12px;
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $orange;

    &:after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      font-weight: bold;
      position: absolute;
      top: 0;
      margin-left: 5px;
      content: '\f105';
    }

    &:hover {
      color: $lightorang;
      transition: all 300ms ease-in-out;
    }
  }
}


