@import "../variables";

.newfilms {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  height: 530px;


  &-poster {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      &:before {
        width: 300%;
      }

      .newfilms-aside {
        transform: scale(1);
        opacity: 1;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -250px;
      width: 0;
      height: 100%;
      transition: 700ms;
      transform: skewX(50deg);
      opacity: 0.7;
      background: $gradient;
    }

    img {
      width:270px;
      height: 340px;
    }
  }

  &-aside {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transition-delay: 0.1s;
    transform: scale(0.9);
    text-align: center;
    opacity: 0;
    align-items: center;
    color: $orange;
  }

  &-text {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  &-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px auto;
    border: solid 2px #fff;
    border-radius: 50%;
    transition: all .30s ease-in-out;
    color: #fff;
    cursor: pointer;

    &:hover {
      transform: scale(.9);
      color: $lightorang;
    }

    i {
      font-size: 14px;
      padding-left: 5px;
    }
  }

  &-readmore {
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 4px;
    text-transform: uppercase;

    &:hover {
      color: $lightorang;
      transition: all .30s ease-in-out;
    }
  }

  &-title {
    flex-grow: 1;
    h4 {
      border: none;
      font-size: 18px;
      color: #4a4a4a;
      padding: 0;
      margin: 0;
    }
  }


  &-more {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p{
      color: #4a4a4a;
    }
  }
}
