@import "../../../../scss/variables";

.film {
  display: flex;
  gap: 30px;
  padding: 0 20px;

  @media (max-width: 650px) {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $light-orange;
    }

    h3 {
      border-bottom: none;
      padding: 0;
      font-size: 30px;
      margin-bottom: 30px;
      letter-spacing: 2px;
      color: $dark;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 12; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #717171
    }
  }

  &-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    position: relative;
  }

  &-button {
    font-size: 13px;
    letter-spacing: 4px;
    line-height: 1em;
    text-transform: uppercase;
    color: $orange;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: $transit;


    &:after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      font-weight: bold;
      position: absolute;
      content: '\f105';
      margin-right: -10px;
    }

    &:hover {
      color: $light-orange;
      transition: $transit;
    }
  }
}