@import "../../../../scss/variables";

.sliderHeader {
  width: 100%;
  height: 95vh;
  //user-select: none;

  .container-pagination {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    margin: auto;
    transform: none;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .swiper-pagination {
      &-bullet {
        display: flex;
        background-color: #999999;
        opacity: 0.5;
        width: 10px;
        height: 10px;

        &-active {
          background-color: white;
          opacity: 1;
        }
      }
    }
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin: auto;
    transform: none;
    align-items: center;
    justify-content: center;
  }

  &-slides {
    min-height: 600px;
    background-color: $dark;
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
      top: auto;
      height: 90%;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
      z-index: 1;
    }
  }

  .blurb-slide {
    width: 100%;
    margin-top: 50px;
    animation: Blurb .5s .5s forwards;
    text-align: left;
    margin-bottom: 0;
    opacity: 0;
    z-index: 6;
  }

  &-text {
    margin-left: 15px;
    width: 66%;
    display: flex;
    flex-direction: column;

    @media (max-width: 660px) {
      width: 100%;
      margin-left: 0;
    }


    span {
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $light-orange;
    }

    h1 {
      font-size: 52px;
      font-weight: 300;
      padding: 0;
      animation: Heading .5s .5s forwards;
      letter-spacing: 3px;
      opacity: 0;
      color: #ffffff;
      border: none;
    }

    p {
      font-size: 18px;
      color: #ffffff;
      margin: 0 0 20px 0;
    }
  }

  &-button {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;

    @media (max-width: 430px) {
      button {
        padding: 20px;
        display: flex;
        letter-spacing: 0;

        span{
          display: none;
        }
      }
    }

    button {
      border: none;
      animation: Buttons .5s .5s forwards;
      opacity: 0;
      background: $gradient;

      .fa {
        &-play {
          color: #ffffff;
        }
      }

      span {
        color: #ffffff;
        margin-left: 3px;
      }

      &:active {
        background-color: #e6e6e6;
        background-image: none;

        span {
          color: #adadad;
        }

        .fa {
          &-play {
            color: #adadad;
          }
        }
      }
    }
  }

  &-readMore {
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: $transit;

    &:hover {
      color: $light-orange;
      transition: $transit;
    }
  }
}

@keyframes Buttons {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}