@import "../variables";

.movies {
  padding-top: 70px;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;

  &-search {
    display: flex;
    flex: 0 1 100%;


    position: relative;
    z-index: 99;
    margin-top: -135px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 40px 40px 0 0;
    background: #fff;

    input {
      margin-bottom: 0;
      border-radius: 30px;
      padding: 10px 33px 10px 20px;
    }

    i {
      font-size: 14px;
      position: absolute;
      top: 33px;
      right: 35px;
      color: $orange;
    }

    span {
      position: absolute;
      color: $orange;
      bottom: 10%;
      left: 3%;
      font-size: 16px;
      letter-spacing: 1.5px;
      font-weight: normal;
      cursor: pointer;

      &:after {
        content: '\f00d';
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        font-weight: inherit;
        margin-left: 3px;
      }

      &:hover {
        color: $lightorang;
      }
    }
  }

  &-switcher {
    flex: 0 1 100%;

  }

  &-colum {
    display: flex;
    flex-direction: column;
    flex: 0 1 65%;

  }

  &-skeleton {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
  }

  &-sidebar {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    margin-right: 20px;

    h4 {
      font-size: 18px;
      margin-bottom: 25px;
      text-transform: uppercase;
      color: $orange;

      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        display: block;
        height: 4px;
        width: 75px;
        background: $gradient;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-bottom: 8px;
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 14px;
          color: #717171;
          transition: all 300ms ease-in-out;
          cursor: pointer;
          padding: 5px 8px 5px 8px;


          &:hover {
            color: $lightorang;
            transition: all 300ms ease-in-out;
          }

          &.active {
            background-color: #ec7532;
            border-radius: 30px;
            color: white;
          }
        }

      }
    }

    &-clean {
      color: #ec7532;
      padding: 5px 8px;
      cursor: pointer;

      &:after {
        content: '\f00d';
        font: normal normal normal 14px/1 FontAwesome;
        margin-left: 3px;
      }
    }
  }

  .refElement {
    padding: 5px;
    background-color: #101010;
    width: 100%;
  }
}

