@import "../variables";

.slider-show {
  padding-top: 65px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
}

.trailers {
  background-color: #101010;
  width: 100%;
  position: relative;
}