@import "../variables";

.page {
  display: flex;
  flex-direction: column;


  h2 {
    margin-top: 65px;
  }

  &-synopsis {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    h3 {
      border: none;
      padding: 0;
      margin-bottom: 10px;
      color: #101010;
    }

    p {
      color: #101010;
    }
  }

  &-poster {
    position: relative;

    img {
      width: 100%;
      flex: 0 1 30%;
    }
  }

  &-rating {
    position: absolute;
    right: -20px;
    bottom: -20px;
  }

  &-overview {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

    h3 {
      margin: 0;
      font-weight: bold;
    }

    p {
      flex-grow: 1;
    }

  }

  &-credits {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-crew {
    flex: 0 1 30%;
  }

  &-info {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-links {

      h2 {
        margin-top: 0;
      }

      ul {
        display: flex;
        gap: 10px;

        li {


          a {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 40px;
            width: 43px;
            height: 43px;
            margin: 0 1px;
            border: solid 2px #d8d8d8;
            border-radius: 50%;
            transition: all 300ms ease-in-out;


            i {
              padding: 3px;
              color: rgba(0, 0, 0, 0.5);
              transition: all 300ms ease-in-out;

            }

            &:hover {
              border-color: $lightorang;

              i {
                color: $lightorang;

              }
            }
          }
        }
      }
    }

    &-other {
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        font-weight: bold;
      }
    }
  }

  &-block {
    margin-top: 65px;
    background-color: #101010;
    width: 100%;
    position: relative;

    h2 {
    }
  }

  &-media {
    display: flex;
    flex-direction: column;
  }

  &-videos {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

    &_item {
      width: 20%;
      height: 20%;
    }

    &_player {
      margin: 0;
    }

    p {
      margin-top: 5px;
      padding: 3px;
    }
  }

  &-backdrops {
    padding-top: 30px;

    .note {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 13px;
      letter-spacing: 1.5px;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgba(113, 113, 113, 0.4);

    }
  }

  &-review {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    p {
      letter-spacing: 1.5px;
      color: #101010;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
  letter-spacing: 1.5px;

  &-wrapper {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none;

    .ant-table-column-sorter-down.active {
      color: #ec7532;
    }

    .ant-table-column-sorter-up.active {
      color: #ec7532;
    }
  }

  a {
    color: #101010;
  }

  &-title {
    color: #101010;
    font-weight: bold;

    a {
      cursor: pointer;
    }

  }

  &-episodes {
    color: rgba(16, 16, 16, 0.7);
  }

  &-character {
    color: #101010;
  }

  &-year {
    span {
      color: #101010;
    }
  }

  &-switcher {
    padding-left: 80%;
    padding-bottom: 10px;
  }
}
