@import "../variables";

.people {
  padding-top: 65px;
  padding-bottom: 75px;

  h2 {
    margin-right: -15px;
    margin-left: -15px;
  }

  &-content {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
  }
}