@import "../../../scss/variables";

.custom_button {
  color: $orange;
  background: transparent;
  font-size: 13px;
  position: relative;
  width: auto;
  padding: 12px 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 2px solid $orange;
  border-radius: 30px;
  cursor: pointer;
  line-height: inherit;
}