@import "../../../../scss/variables";

.drop_menu {
  position: fixed;
  background-color: $dark;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding-top: 30px;
  transform: translateY(-100%);
  transition: $transit;
}