.review {
  &-text {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    p {
      letter-spacing: 1.5px;
      color: #101010;
    }
  }
}