@import "../../../../scss/variables";

.footer {
  position: static;
  padding-top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  background: $dark;
  margin-top: 65px;

  &-main {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }

  &-column {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    h6 {
      color: $orange;
      font-size: 16px;
      margin: 0;
      letter-spacing: 2px;
      text-transform: uppercase;
      border: none;
      padding-bottom: 10px;
    }

    &-menu {
      ul {
        li {
          a {
            font-size: 13px;
            padding: 3px 0;
            letter-spacing: 1.5px;
            align-items: center;
            gap: 5px;
            transition: $transit;


            .fa {
              width: 25px;
              transition: $transit;
              transform: translateY(2px);
              color: rgba(255, 255, 255, .3);
            }

            &:hover {
              color: $light-orange;
              transition: $transit;

              .fa {
                color: $light-orange;
                transition: $transit;
              }
            }
          }
        }
      }
    }
  }
}

.copyright {
  margin-top: 45px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, .1);

  svg {
    height: 16px;
  }
}

