@import "../../../../scss/variables";

.footer {
  position: static;
  padding-top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  background: $dark;
  margin-top: 65px;

  @media (max-width: 860px) {
    .social {
      align-items: center;


      .footer-column-menu {
        height: auto;
        visibility: visible;


        ul {
          display: flex;
          gap: 10px;

        }
      }
    }

    .footer-column-border {
      width: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .open {
      height: auto;
      visibility: visible;
    }

    &-row {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
    &-column {
      width: 100%;
      align-items: center;
      h6 {
        cursor: pointer;
      }

      &-menu {
        height: 0;
        visibility: hidden;
        align-items: center;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-column {
    position: relative;
    display: flex;
    flex-direction: column;

    h6 {
      color: $orange;
      font-size: 16px;
      margin: 0;
      letter-spacing: 2px;
      text-transform: uppercase;
      border: none;
      padding-bottom: 10px;
    }

    &-menu {
      display: flex;
      flex-direction: column;

      ul {
        li {
          a {
            font-size: 13px;
            padding: 3px 0;
            letter-spacing: 1.5px;
            transition: color 300ms ease-in-out;;

            .fa {
              width: 25px;
              transition: $transit;
              transform: translateY(2px);
              color: rgba(255, 255, 255, .3);
            }

            &:hover {
              color: $light-orange;
              transition: $transit;

              .fa {
                color: $light-orange;
                transition: $transit;
              }
            }
          }
        }
      }
    }
  }
}

.copyright {
  margin-top: 45px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, .1);

  svg {
    height: 16px;
  }
}

