.swiperTrending {
  user-select: none;
  --swiper-scrollbar-size: 8px;
  --swiper-navigation-color: #ec7532;

  .swiper {
    width: 100%;
    height: 100%;
    margin: 0 -15px;

    &-wrapper {
      margin-bottom: 40px;
      padding: 15px 0;
    }

    &-slide {
      height: 100%;
      padding: 10px 0;

      a {
        display: block;
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .swiper-scrollbar-drag {
    background-color: #fbbd61;
  }

  .swiper-scrollbar-drag:active {
    background-image: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
  }
}










