@import "../../scss/variables";

.sliderShow {
  user-select: none;
  --swiper-navigation-color: #EC7532FF;
  margin-top: 20px;
  height: 100%;

  .swiper {

    &-wrapper {
      overflow: hidden;
    }

    &-slide {
      height: auto;
    }
  }
}










