@import "../../../../scss/variables";

.synopsis {
  display: flex;
  justify-content: space-between;
  gap: 25px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
    .overview {
      order:3;
      flex-grow: 1;
    }
  }

  h3 {
    border: none;
    padding: 0;
    margin-bottom: 10px;
    color: $dark;
  }

  p {
    color: $dark;
  }
}