@import "../../../../scss/variables";

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &-primary {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px double $orange;
    border-radius: 50%;

    &-slice {
      position: absolute;
      width: 40px;
      height: 40px;
      border-top: 4px solid $orange;
      border-left: 4px solid transparent;
      border-bottom: 4px solid $orange;
      border-right: 4px solid transparent;
      border-radius: 50%;
      animation: spinRevers linear 4s infinite;
    }
  }

  &-middle {
    &-slice {
      position: absolute;
      width: 30px;
      height: 30px;
      border-right: 4px dotted $light-orange;
      border-top: 4px dotted $light-orange;
      border-bottom: 4px dotted $light-orange;
      border-left: 4px dotted $light-orange;
      border-radius: 50%;
      animation: spin linear 3s infinite;
    }
  }

  &-core {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px double $orange;
    border-radius: 50%;

    &-slice {
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 4px solid $orange;
      border-top: 4px solid $orange;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-radius: 50%;
      animation: spinRevers linear 2s infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes spinRevers {
  from {
    transform: rotate(360deg)
  }
  to {
    transform: rotate(0deg)
  }
}