@import "../../../../scss/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 760px) {
    display: flex;
    flex-direction: row;

    .burger {
      display: flex;
    }

    .panel {
      display: none;
    }

    .heading {
      a {
        margin-right: 0;
      }
    }
  }
}





