@import "../../../../scss/variables";

.form {
  display: flex;
  justify-content: space-between;

  form {
    padding-right: 15px;
    width: 50%;

    button {
      transition: $transit;

      &:hover {
        color: #ffffff;
        background: $orange;
      }

      &:active {
        border-color: $light-orange;
      }
    }
  }

  &-colum {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  &-row {
    display: flex;
    margin-bottom: 30px;

    span {
      margin-right: 25px;
      height: 75px;
      width: 75px;
      border: 2px solid #d8d8d8;
      border-radius: 50%;
      text-align: center;

      i {
        color: $orange;
        font-size: 32px;
        position: relative;
        top: 50%;
        max-width: 46px;
        transform: translateY(-50%);
      }
    }
  }

  &-text {
    h4 {
      margin-bottom: 5px;
      padding-bottom: 0;
      color: #4a4a4a;
      border: none;
    }

    p {
      color: #717171;
    }
  }
}