@import "../../../../scss/variables";

.menu {
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
  transition: $transit;
  user-select: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  @media (max-width: 760px) {
    .heading {
      a {
        margin-right: 0;
      }
    }
  }

}
