@import "../../scss/variables";

.sliderCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  height: 100%;

  &-poster {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    height: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-poster_alt {
    @extend .sliderCard-poster;
    height: auto;

    &-aside {
      z-index: 1;
    }

    a {
      z-index: -2;
    }

    &:hover {
      &:before {
        position: absolute;
        width: 300%;
      }

      .sliderCard-aside {
        transform: scale(1);
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -100%;
      width: 0;
      height: 100%;
      transition: 700ms;
      transform: skewX(50deg);
      opacity: 0.5;
      background: $gradient;
    }
  }

  &-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transition-delay: 0.1s;
    transform: scale(0.9);
    opacity: 0;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $orange;
  }

  &-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px auto;
    border: solid 2px #fff;
    border-radius: 50%;
    transition: $transit;
    color: #fff;
    cursor: pointer;

    &:hover {
      transform: scale(.9);
      color: $orange;
    }

    i {
      font-size: 14px;
      padding-left: 5px;
    }
  }

  &-readMore {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: $transit;
    
    &:hover {
      color: $orange;
      transition: $transit;
    }
  }

  &-title {
    padding: 10px;
    display: flex;
    align-items: flex-start;

    h4 {
      border: none;
      font-size: 18px;
      color: #4a4a4a;
      padding: 0;
      margin: 0;
    }
  }

  &-more {
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      color: #4a4a4a;
    }
  }
}
