.modalWindow {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
  z-index: 9999;
  pointer-events: none;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  span {
    color: #ec7532;
    font-size: 28px;
    flex-grow: 1;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &-wrapper {
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(#101010, 0.8);

    transform: scale(0.5);
    transition: 0.4s all;
    width: 40vw;
    height: 100vh;

    &:hover {
      background-color: #101010;

      form{
        border: 2px solid #FBBD61FF;
        transition: all .30s ease-in-out;
      }
    }
  }

  form {
    width: 100%;
    padding: 20px;
    border: 2px solid #EC7532FF;
    height: 100%;
    border-radius: 12px;
    transition: all .30s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;




    h1 {
      border: none;
      color: #EC7532FF;
      font-size: 64px;
      padding: 0;
      margin-bottom: 40px;
    }

    &.active {
      transform: scale(1);
    }

    p {
      font-size: 24px;
      color: white;
    }

    input {
      width: 100%;
      padding: 0 10px;
      color: white;
      height: 10%;
      margin-bottom: 50px;
      font-size: 32px;
      //background-color: rgba(255, 255, 255, 0.8);
      background-color: #101010;
      border-top: none;
      border-left: none;
      border-right: none;


      &:focus {
      }
    }
  }

  button {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    background-color: #ec7532;
    color: white;
    transition: all .30s ease-in-out;

    &:hover {
      transition: all .30s ease-in-out;
      background-color: #fbbd61;
    }
  }
}



