@import "../../../scss/variables";

h2 {
  line-height: 1.4em;
  position: relative;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #D8D8D8FF;
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: $orange;

  &:after {
    background: $gradient;
    position: absolute;
    bottom: -1px;
    display: block;
    width: 125px;
    height: 4px;
    content: '';
  }
}