@import "variables";
@import "libs/normalize";

.container {
  margin-right: auto;
  margin-left: auto;

  &:before {
    display: table;
    content: ' ';
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  @media (min-width: 320px) {
    width: 95%
  }

  @media (min-width: 375px) {
    width: 85%
  }

  @media (min-width: 768px) {
    width: 85%
  }

  @media (min-width: 920px) {
    width: 70%
  }

  @media (min-width: 1024px) {
    width: 83%
  }

  @media (min-width: 1201px) {
    width: 70%
  }
}

.frameworks {
  &-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media (min-width: 320px) {
      width: 75%
    }

    @media (min-width: 375px) {
      width: 85%
    }

    @media (min-width: 768px) {
      width: 85%
    }

    @media (min-width: 920px) {
      width: 83%
    }

    @media (min-width: 1024px) {
      width: 83%
    }

    @media (min-width: 1201px) {
      width: 70%
    }
  }
}

.page-frame {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

@keyframes Blurb {
  0% {
    transform: scale(1.15);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Heading {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


