@import "variables";
@import "components/all";
@import "libs/normalize";

.wrapper {
  position: relative;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  //background: #02026c;

  &:before {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
    display: table;
    content: ' ';
  }

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

}

.back-to-top {
  font-size: 12px;
  line-height: 45px;
  position: fixed;
  z-index: 9999;
  right: 40px;
  bottom: 40px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: opacity 1s ease-out, all 300ms ease-in-out;
  text-align: center;
  opacity: 0;
  border-radius: 2px;
  background: rgba(36, 43, 45, 0.8);

  &:hover {
    .fa {
      color: $lightorang;
      transition: all .30s ease-in-out;
    }
  }

  .fa {
    &-chevron-up {
      color: #ec7532;
    }
  }
}

.show {
  //opacity: 1;
}

.frameworks {
  &-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    //background: #02026c;

    @media (min-width: 768px) {
      width: 750px;
    }

    @media (min-width: 992px) {
      width: 970px;
    }

    @media (min-width: 1200px) {
      width: 1170px;
    }

  }
}

@keyframes ScrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Blurb {
  0% {
    transform: scale(1.15);

    opacity: 0;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}

@keyframes Heading {
  0% {
    transform: translateY(-30px);

    opacity: 0;
  }
  100% {
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes Buttons {
  0% {
    transform: translateY(60px);

    opacity: 0;
  }
  100% {
    transform: translateY(0);

    opacity: 1;
  }
}
